<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="list-group">
        <form name="inputForm" class="form-horizontal">
            <select maritalStatus="Marital Status">
                <option value="Single">Single</option>
                <option value="Married">Married</option>
                <option value="Separated">Separated</option>
                <option value="Divorced">Divorced</option>
                <option value="Widowed">Widowed</option>
            </select>
            <select gender="Gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Triggered">Triggered</option>
            </select>
            <select ethnicity="Ethnicity">
                <option value="AfricanAmerican">African-American</option>
                <option value="AmericanIndian">American Indian / Alaskan Native</option>
                <option value="AsianPacificIslander">Asian / Pacific Islander</option>
            </select>
        </form>
    </div>
</body>
</html>